body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#aBlog {
  text-decoration: none !important;
  color: Black;
  font-style: italic;
}

h1 {
  background: linear-gradient(to right, #ffa9b7, hsl(322, 98%, 82%), #5aebfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px #00000027;
  font-size: 48px;
}

#imgPost {
  width: 600px;
  margin-inline: 25%;
}
